body { margin: 60px auto; width: 70%; font-family: 'Roboto', 'Sans-Serif'; }

a { text-decoration: none; color: #4c00a4; }
a:hover { text-decoration: underline; }

p, ul { color: #333; }

h1 { font-family: 'Satisfy', 'Sans-Serif'; }

nav ul, footer ul { padding: 0px; list-style: none; }
nav ul li, footer ul li { display: inline; margin-right: 20px; }

/* Blog */
ul.posts { margin: 20px auto 40px; }
ul.posts li { list-style: none; }

