<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link href="https://fonts.googleapis.com/css?family=Roboto|Satisfy&display=swap" rel="stylesheet">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">home</a></li>
				<li><a href="/publications">publications<a></li>
				<li><a href="https://drive.google.com/file/d/18QIqwEuKyVKOsSs399xps3csCAW3T4rp/view" target="_blank">cv</a></li>
	        		<li><a href="/blog">blog</a></li>
	    		</ul>
			</nav>
			<div class="header">
				<h1>Joy C. Ming<h1>
				<h2>{{ page.title }}</h2>
			</div>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:joy.c.ming@gmail.com">jming [at] gmail.com</a></li>
	        		<li><a href="https://github.com/jming">github.com/jming</a></li>
				</ul>
			</footer>
		</body>
	</html>
