<!DOCTYPE html>
	<html>
		<head>
			<title>Joy C. Ming: {{ page.title }}</title>
			<link rel="icon" href="/img/favicon.ico">
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&family=Satisfy&display=swap" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
		</head>
		<body>
			<nav>
				<ul>
				{% assign sorted_pages = site.pages | sort:"order" %}
				{% for node in sorted_pages %}
					{% if node.title %}
						{% if node.url == page.url %}
							<li class="active"><a href="{{ node.url }}" class="active">{{ node.title }}</a></li>
						{% else %}
							<li><a href="{{ node.url }}">{{ node.title }}</a></li>
						{% endif %}
					{% endif %}
				{% endfor %}
					<li><a href="https://docs.google.com/document/d/1g_UhUoZ6k7TeI8TxKBlto-VWl2bSSPKOgw8QEu4rub4/edit?usp=sharing" target="_blank">cv</a></li>
				</ul>
			</nav>
			<div class="header">
				<h1>Joy C. Ming<h1>
			</div>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
				<ul>
					<li><a href="mailto:joy.c.ming@gmail.com">email</a></li>
					<li><a href="https://scholar.google.com/citations?user=Y9LUHigAAAAJ&hl=en&oi=ao">google scholar</a></li>
					<li><a href="https://www.linkedin.com/in/jcming/">linkedin</a></li>
				</ul>
			</footer>
		</body>
	</html>
